@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-width: 300px;
    background-color: #ffffff;
    color: #000000;
}

h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.site-header {
    background: #0a0e34 url("../images/football_767.jpg") no-repeat top / cover;
    position: relative;
    padding: 33px 0 84px;
}

.site-header::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
}

.site-header .logo-text-container {
    margin-bottom: 128px;
}

.logo-text-container img {
    display: block;
    margin: 0 auto;
    width: 41.5%;
    min-width: 133px;
    max-width: 180px;
    height: auto;
}

.site-title {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.23;
    letter-spacing: 0.045em;
    margin: 0.5em 0;
    cursor: default;
}

.site-title span {
    display: block;
}

.site-title span:last-child {
    margin-left: 44px;
    margin-top: 16px;
    word-spacing: 1px;
}

.site-header .links-container {
    margin-top: 84px;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-btn {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 17px;
    background-color: #5e42b0;
    color: #ffffff;
    font-size: 8px;
    padding: 0.75em 6.25em 0.75em 10em;
    max-width: 320px;
    transition: background-color 0.3s ease-in-out;
}

.link-btn:hover {
    background-color: #3d2b73;
}

.link-btn:first-child {
    margin-top: 1.875em;
}

.link-btn .link-sign {
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.link-btn.app-store .link-sign {
    background: url("../images/svg/apple_logo.svg") no-repeat left center;
}

.link-btn.google-play .link-sign {
    background: url("../images/svg/google-play.svg") no-repeat left center;
}

.link-btn strong {
    display: block;
    font-weight: 700;
}

.section-steps {
    position: relative;
}

.section-steps h2 {
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    padding: 8px 0 4px;
    cursor: default;
}

.section-steps h3 {
    padding-left: 26px;
    position: relative;
    color: #c1c1c1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 0.77em;
    letter-spacing: 0.045em;
    cursor: default;
}

.steps-counter {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 14px;
    line-height: 1;
    display: block;
    color: #000000;
}

.steps-counter::after {
    content: "";
    background-color: #5e42b0;
    width: 1.28em;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.section-steps .steps {
    margin-top: 215px;
}

.section-steps .content {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.048em;
}

.section-steps .step {
    padding: 52px 0;
}

.section-steps .step.connection {
    padding-top: 86px;
    background-color: #fafafa;
}

.section-steps .step.collaboration {
    background-color: #f5f4f9;
}

.section-steps .step.growth {
    background-color: #5e42b0;
}

.section-steps .step.growth h3 {
    color: #c1c1c1;
}

.section-steps .step.growth .content {
    color: #ffffff;
}

.section-steps .step.growth .steps-counter::after {
    background-color: #ffffff;
}

.section-steps .section-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.action-description {
    padding: 30px 0 76px;
    position: relative;
}

.actions h3 {
    font-size: 28px;
    font-weight: 700;
    color: #e7e7e7;
    line-height: 1.24;
    text-transform: uppercase;
    margin-bottom: 0.36em;
    letter-spacing: 0.045em;
}

.actions .content {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.05em;
}

.actions-counter {
    width: 70px;
    height: 70px;
    line-height: 1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    left: 20px;
    top: -58px;
    background-color: #5e42b0;
}

.actions-counter::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -9px;
    background-color: #ffffff;
    opacity: 0.3;
    width: 18px;
    height: 4px;
    border-radius: 2px;
}

.site-footer {
    /*height: 568px;*/
    background: #0a0e34 url("../images/game_767.jpg") no-repeat top / cover;
    position: relative;
    padding: 100px 0 10px;
}

.site-footer::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
}

.footer-logo {
    background: #5e42b0 linear-gradient(to bottom, #7655d6, #503799);
    width: 72px;
    height: 74px;
    border-radius: 20px;
    padding: 12px 8px;
    text-align: center;
    margin: 0 auto;
}

.footer-logo img {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.2));
}

.site-footer .footer-logo {
    margin-bottom: 54px;
}

.site-footer .footer-heading {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    cursor: default;
}

.site-footer .footer-description {
    color: #9b8ec1;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
    cursor: default;
}

.site-footer .footer-text {
    margin-top: 1em;
    margin-bottom: 70px;
}

.site-footer .logo-text-container {
    margin-top: 82px;
}

@media (min-width: 480px) {
    .container {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media (min-width: 600px) {
    .athletes .container {
        margin-left: 38%;
        margin-right: 32px;
    }

    .players .container {
        margin-left: 32px;
        margin-right: 40%;
    }

    .site-header {
        padding: 40px 0 91px;
        background-position: center;
    }

    .site-header .logo-text-container {
        margin-bottom: 164px;
    }

    .logo-text-container img {
        width: 26.7%;
        min-width: 205px;
        max-width: 230px;
    }

    .site-title {
        font-size: 64px;
        margin-left: 54px;
    }

    .site-title span:last-child {
        margin-left: 107px;
        margin-top: 0;
    }

    .site-header .links-container {
        margin-top: 297px;
    }

    .links-container {
        padding: 0 28px;
        flex-direction: row;
        justify-content: space-between;
    }

    .link-btn {
        max-width: 310px;
        min-width: 240px;
        width: 48%;
        height: 77px;
        padding: 0 34px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 40px;
        line-height: 1.2;
    }

    .link-btn:first-child {
        margin-top: 0;
    }

    .link-btn .link-sign {
        padding-left: 68px;
        padding-top: 8px;
        padding-bottom: 6px;
        letter-spacing: 0.04em;
    }

    .section-steps h2 {
        font-size: 80px;
        padding: 58px 0 0;
    }

    .section-steps h3 {
        font-size: 32px;
        padding-left: 30px;
        margin-bottom: 0.55em;
    }

    .steps-counter {
        font-size: 18px;
    }

    .steps-counter::after {
        bottom: -10px;
        height: 5px;
    }

    .section-steps .content {
        font-size: 16px;
        line-height: 1.75;
    }

    .athletes .section-img {
        transform: none;
        top: 94px;
        right: 56.5%;
        left: auto;
    }

    .section-steps .steps {
        margin-top: 0;
    }

    .section-steps .step {
        padding: 32px 0 31px;
    }

    .players .step.growth .content {
        font-size: 18px;
    }

    .section-steps .step.connection {
        padding-top: 28px;
        background-color: #ffffff;
    }

    .players .section-img {
        transform: none;
        top: 38px;
        left: auto;
        right: 0;
    }

    .actions-counter {
        width: 116px;
        height: 116px;
        left: 32px;
        top: -80px;
        font-size: 24px;
        padding-top: 40px;
    }

    .actions-counter::after {
        width: 22px;
        height: 5px;
        top: 70px;
        margin-left: -11px;
    }

    .action-description {
        padding: 64px 0 100px;
    }

    .actions h3 {
        font-size: 80px;
        margin-bottom: 0.2em;
        margin-left: -5px;
        letter-spacing: normal;
    }

    .actions .content {
        font-size: 24px;
        line-height: 1.17;
    }

    .site-footer {
        padding: 126px 0 22px;
    }

    .footer-logo {
        width: 130px;
        height: 137px;
        padding: 24px 14px;
        border-radius: 28px;
    }

    .site-footer .footer-logo {
        margin-bottom: 60px;
    }

    .site-footer .footer-heading {
        font-size: 80px;
        line-height: 1.25;
        letter-spacing: 0.04em;
    }

    .site-footer .footer-description {
        font-size: 34px;
        letter-spacing: 0.036em;
    }

    .site-footer .footer-text {
        margin-bottom: 278px;
    }

    .site-footer .logo-text-container {
        margin-top: 56px;
    }
}

@media (min-width: 768px) {
    .site-header {
        background: #0a0e34 url(../images/football_1280.jpg) no-repeat top / cover;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-left: 9.5%;
        margin-right: 9.5%;
    }

    .athletes .container {
         margin-left: 52.5%;
         margin-right: 9.5%;
    }

    .players .container {
        margin-left: 9.5%;
        margin-right: 50%;
    }

    .site-header {
        padding: 45px 0 108px;
        background: #0a0e34 url(../images/football_1920.jpg) no-repeat top / cover;
    }

    .site-header .logo-text-container {
        margin-bottom: 18%;
    }

    .logo-text-container img {
        width: 12.5%;
        min-width: 160px;
        max-width: 192px;
    }

    .site-title {
        font-size: 90px;
        margin-left: 0;
        line-height: 1
    }

    .site-title span:last-child {
        margin-left: 0;
        text-align: right;
    }

    .links-container {
        justify-content: center;
    }

    .links-container .link-btn:last-child {
        margin-left: 52px;
    }

    .site-header .links-container {
        margin-top: 13.7%;
    }

    .section-steps h2 {
        padding: 88px 0 0;
        letter-spacing: normal;
    }

    .players h2 {
        margin-left: -6px;
    }

    .section-steps h3 {
        font-size: 36px;
        margin-bottom: 0.36em;
    }

    .steps-counter {
        top: 10px;
    }

    .section-steps .step {
        padding: 49px 0 51px;
    }

    .section-steps .step.connection {
        padding-top: 76px;
    }

    .section-steps .content {
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 1.44;
    }

    .athletes .section-img {
        top: 26px;
        right: 50.1%;
    }

    .players .section-img {
        top: 24px;
        right: 6.2%;
    }

    .players .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .players .step.collaboration {
        padding: 50px 0 81px;
    }

    .players .step.collaboration h3 {
        margin-bottom: 0.68em;
    }

    .players .content {
        letter-spacing: 0.045em;
    }

    .players .step.growth {
        background-color: #0a0e34;
        padding-bottom: 52px;
    }

    .players .step.growth .steps-counter {
        color: #9173e6;
    }

    .players .step.growth h3 {
        margin-bottom: 0.45em;
    }

    .players .step.growth .content {
        font-size: 20px;
        letter-spacing: 0.015em;
    }

    .actions-counter {
        width: 168px;
        height: 154px;
        top: -25px;
        left: -84px;
    }

    .section-actions .action {
        display: flex;
    }

    .section-actions .action:nth-child(even) {
        flex-direction: row-reverse;
    }

    .section-actions .action:nth-child(even) .actions-counter {
        right: -84px;
        left: auto;
    }

    .actions .container {
        margin-left: 13.25%;
        margin-right: 19%;
    }

    .actions .action:nth-child(even) .container {
        margin-left: 20%;
        margin-right: 12%;
    }

    .actions picture {
        flex: 0 0 50%;
        height: 37.7vw;
    }

    .actions img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .actions .action-description {
        margin: auto 0;
        padding: 0 0 6px;
        flex: 1 0 50%;
    }

    .actions h3 {
        margin-bottom: 95px;
    }

    .actions-counter {
        padding-top: 58px;
    }

    .actions-counter::after {
        top: 88px;
    }

    .actions .content {
        letter-spacing: 0.045em;
    }

    .actions .action.find-contact .action-description {
        padding-bottom: 45px;
    }

    .actions .action.find-contact h3 {
        margin-left: -4px;
        margin-bottom: 53px;
    }

    .actions .action.work-it .action-description {
        padding-bottom: 0;
        padding-top: 16px;
    }

    .actions .action.work-it .actions-counter {
        top: -9px;
    }

    .site-footer {
        padding: 224px 0 52px;
    }

    .footer-slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 9.7%;
    }

    .site-footer .footer-logo {
        margin: 0 30px 0 0;
    }

    .site-footer .footer-text {
        margin: 0;
    }

    .site-footer .footer-heading,
    .site-footer .footer-description {
        text-align: left;
    }

    .site-footer .footer-description {
        font-size: 30px;
        margin-left: 4px;
        line-height: 1;
        margin-bottom: 6px;
        letter-spacing: normal;
    }

    .site-footer .logo-text-container {
        margin-top: 16.8%;
    }
}
